@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Rajdhani:wght@500&family=VT323&display=swap');

.App {
	font-family: 'Bebas Neue', cursive;
	font-family: 'Oswald', sans-serif;
	font-family: 'Rajdhani', sans-serif;
	font-family: 'VT323', monospace;
}
