.form-container {
	display: grid;
	place-items: center;
	text-align: center;
	color: white;
}
.title {
	display: grid;
	place-items: center;
	text-align: center;
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-family: 'Oswald', sans-serif;
	font-family: 'Rajdhani', sans-serif;
}
.form h1 {
	font-size: 50px;
}
.form h3 {
	font-size: 25px;
}
.form {
	background: rgb(238, 174, 202);
	background: radial-gradient(
		circle,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
	margin-top: 20px;
	margin-bottom: 20px;
	width: 1000px;
	border-radius: 10px 10px 10px 10px;
	font-family: 'Bebas Neue', cursive;
	font-family: 'Oswald', sans-serif;
	font-family: 'Rajdhani', sans-serif;
	box-shadow: 0 10px 50px rgba(7, 17, 19, 0.616);
}
.formBox {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.genresButton {
	width: 104%;
	color: white;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	font-family: 'Oswald', sans-serif;
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	background: #eb68a1;
	border-radius: 10px 10px 10px 10px;
	border: 0ex;
	padding: 5px;
	margin-top: 30px;
	box-shadow: 0 10px 50px rgba(7, 17, 19, 0.616);
}

.inputBox {
	width: 100%;
	color: white;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	font-family: 'Oswald', sans-serif;
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	background: #eb68a1;
	border-radius: 10px 10px 10px 10px;
	border: 0ex;
	padding: 5px;
	margin-top: 30px;

	box-shadow: 0 10px 50px rgba(7, 17, 19, 0.616);
}
.inputBox::placeholder {
	color: white;
}
.inputleft {
	display: flex;
	flex-direction: column;
}
.inputright {
	display: flex;
	flex-direction: column;
}
.genresAndsubmit {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	vertical-align: bottom;
	padding: 10px;
	margin: 20px;
}

.submit {
	margin-right: 15px;
	margin-bottom: 15px;
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-family: 'Oswald', sans-serif;
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	height: 100%;
	border: 0ex;
	border-radius: 10px 10px 10px 10px;
	background: #79a9e2;
	padding: 5px;
	box-shadow: 0 10px 50px rgba(7, 17, 19, 0.616);
}
.submit:hover {
	cursor: pointer;
}
