.form-container {
	display: grid;
	place-items: center;
	text-align: center;
	color: white;
}
.title {
	display: grid;
	place-items: center;
	text-align: center;
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-family: 'Oswald', sans-serif;
	font-family: 'Rajdhani', sans-serif;
}
.form h1 {
	font-size: 50px;
}
.form h3 {
	font-size: 25px;
}
.form {
	background: rgb(238, 174, 202);
	background: radial-gradient(
		circle,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
	margin-top: 20px;
	margin-bottom: 20px;
	width: 1000px;
	border-radius: 10px 10px 10px 10px;
	font-family: 'Bebas Neue', cursive;
	font-family: 'Oswald', sans-serif;
	font-family: 'Rajdhani', sans-serif;
	box-shadow: 0 10px 50px rgba(7, 17, 19, 0.616);
}
.inputContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.inputBox {
	color: white;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	font-family: 'Oswald', sans-serif;
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	height: 90%;
	background: #eb68a1;
	border-radius: 10px 10px 10px 10px;
	border: 0ex;
	padding: 5px;
	margin-bottom: 10px;
	box-shadow: 0 10px 50px rgba(7, 17, 19, 0.616);
}

.submit {
	margin-top: 15px;
	margin-bottom: 15px;
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-family: 'Oswald', sans-serif;
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	height: 100%;
	border: 0ex;
	border-radius: 10px 10px 10px 10px;
	background: #79a9e2;
	padding: 5px;
	box-shadow: 0 10px 50px rgba(7, 17, 19, 0.616);
}
.submit:hover {
	cursor: pointer;
}

.genresButton {
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-family: 'Oswald', sans-serif;
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	height: 100%;
	border-radius: 10px 10px 10px 10px;
	background: #eb68a1;
	padding: 5px;
}
