.background {
	display: grid;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.title {
	align-items: center;
	margin-top: 80px;
}
a {
	text-decoration: none;
}

.title button {
	font-family: 'Bebas Neue', cursive;
	font-family: 'Oswald', sans-serif;
	font-family: 'Rajdhani', sans-serif;
	font-size: 50px;
	font-weight: 700;
	background-color: transparent;
	color: white;
	padding: 15px 32px;
	text-align: center;
	border-radius: 10px 10px 10px 10px;
	margin: 60px 60px;
	cursor: pointer;
	box-shadow: 0 10px 50px rgba(7, 17, 19, 0.616);
}
.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
}
